:root {
  --branco: #ffffff;
  --preto: #000000;
  --preto2: #111111;
  --cinza-escuro: #1d1c1c;
  --cinza-medio: #595959;
  --cinza-claro: #b2b2b2;
  --amarelo-escuro: #e4a30b;
  --amarelo-claro: #ffbb00;
  --marrom: #332200;
  --marrom-claro: #9e6c0791;
}
