.bicicleta-interna-bg {
  background-color: var(--cinza-escuro);
}

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bicicleta .titulo {
  padding-top: 60px;
}

#bicicleta .titulo h1 {
  margin-top: 0;
}

#bicicleta .titulo p {
  margin-top: 0;
  text-transform: uppercase;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo p {
  color: var(--cinza-claro);
  margin-top: 0;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  color: var(--cinza-claro);
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.bicicleta-conteudo h2 {
  color: var(--branco);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  background-color: var(--preto);
  border-radius: 4px;
}

.bicicleta-informacoes {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: 8px;
}

.bicicleta-informacoes h3 {
  color: var(--branco);
  margin-bottom: 8px;
}

.bicicleta-ficha li {
  color: var(--branco);
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--branco);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--cinza-claro);
}

.seguro-bg {
  background-color: var(--cinza-escuro);
  box-shadow:
    inset 0 120px var(--branco),
    inset 0 -120px var(--preto);
  padding-bottom: 40px;
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.seguro-conteudo h2 {
  margin-bottom: 32px;
  color: var(--branco);
}

.seguro-conteudo p {
  margin: 0 0 20px 0;
  color: var(--cinza-claro);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-imagens {
    grid-row: 2;
  }
  .seguro {
    grid-template-columns: 1fr;
  }
  .seguro-conteudo {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .seguro-bg {
    box-shadow: inset 0 -60px var(--preto);
  }

  .seguro-imagem {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}
